
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GenerateDropDownList</title>
</head>
<body>
    <div ng-app="MyApp" ng> 
        <div class="form-group container">
            <div class="row">
                <div class="col-md-6">
                    @*<div ng-dropdown-multiselect="" extra-settings="dropdownSetting"
                         options="Actors" selected-model="ActorsSelected" checkboxes="true" id="divMultiSelectActor">
                    </div>*@
                    <input type="text" ng-model="hdnActorText" id="hdnActorText" style="visibility:hidden;">
                    <span class="form_hint" id="snhdnActorText">Please select the actor</span>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#ModalOne"> + Add Actor</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
